.container {
  display: grid;
  grid-template-columns: minmax(25%, 300px) 1fr;
  height: 100vh;
}

.aside {
  background: #222;
  color: #fff;
  padding: 0.5em;
  overflow: auto;
}

.main {
  padding: 0.5em;
  overflow: auto;
}
